<modal>
  <modal-header [show-close]="true">
    <h3 class="modal-title">Choose post to link</h3>
  </modal-header>
  <modal-body>
    Filter: <!--input type="text" [ngFormControl]="filter" autofocus / -->

    <ul>
      <li *ngFor="let post of filteredPosts">
        {{post.date | date:'yyyy/MM/dd'}}
        <button (click)="onPostClicked(post)">{{post.title}}</button>
      </li>
    </ul>
  </modal-body>
  <modal-footer>
    <button type="button" class="btn btn-default" data-dismiss="modal"
            (click)="onPostCanceled()">Cancel</button>
  </modal-footer>
</modal>
