<div style="position: relative; height:52px; overflow: hidden;">
  <div style="position: absolute; left: 0; top: 0; right: 550px; bottom: 0;">
    <a class="btn btn-primary" [routerLink]="['/Top']">Back</a>
    <input type="text" [(ngModel)]="info.title" style="font-size: 1.5em; width: 50%; margin: 4px; padding: 4px; border: 1px solid gray; border-radius: 6px;">
    <button class="btn btn-warning"
            (click)="choosePostModal.open()">Link to post</button>
    <choose-post-modal #choosePostModal
                       (onSelect)="onPostChoosed($event)"
                       (onCancel)="onPostCanceled()"></choose-post-modal>
  </div>
  <div class="clearfix" style="position: absolute; top: 0; right: 0px; width: 550px; height: 100%;">
    <button class="btn btn-danger pull-right" (click)="delete()" *ngIf="originalFileName">Delete</button>
    <button class="btn btn-success pull-right" (click)="save()">Save</button>

    <modal-button [title]="'Edit tag'" [placeHolder]="'tag'" [(value)]="tag"></modal-button>
    <modal-button [title]="'Edit main-name'" [placeHolder]="'mainname'" [(value)]="mainName"></modal-button>
    <modal-button [title]="'Edit time'" [placeHolder]="'time'" [(value)]="time"></modal-button>

    <!-- date -->
    <button class="btn btn-normal pull-right"
            (click)="startEditDate()"
            data-toggle="modal" data-target="#edit-date-modal">{{date?date:'Date'}}</button>
    <div id="edit-date-modal" class="modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">Edit date</div>
          <div class="modal-body">
            <input id="date-input"
                   type="text"
                   class="form-control datepicker"
                   value="date">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary" (click)="updateDate()">OK</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div style="position: absolute; left: 0; top: 52px; right: 0; bottom: 0;">
  <div style="position: absolute; width: 50%; height: 100%; left: 0; top: 0;">
    <div style="position: absolute; left: 4px; top: 4px; right: 0; bottom: 4px;">
      <article-editor [params]="edit"
                      (onSaveRequested)="save()"></article-editor>
    </div>
  </div>
  <div style="position: absolute; width: 50%; height: 100%; right: 0; top: 0;">
    <div style="position: absolute; left: 0; top: 4px; right: 4px; bottom: 4px; border: 1px solid gray; border-radius: 0 6px 6px 0;">
      <previewer [html]="preview"></previewer>
    </div>
  </div>
</div>
