@import 'syntax-highlighting';

$BG_COLOR: #ddd;

body {
  background-color: $BG_COLOR;
  font-family: "Helvetica Neue", Helvetica, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
}

textarea {
  font-family: 'Anonymous Pro', "Courier", "Courier New", "平成角ゴシック", "Osaka-等幅", "ＭＳ ゴシック", monospace;
  font-size: 14px;
  line-height: 1.2;
}

code {
  white-space: pre;
}
