@import 'syntax-highlighting';

$BG_COLOR: #ddd;

* {
  box-sizing: border-box;
  outline: none;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: $BG_COLOR;
  font-family: "Helvetica Neue", Helvetica, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
}

textarea {
  font-family: 'Anonymous Pro', "Courier", "Courier New", "平成角ゴシック", "Osaka-等幅", "ＭＳ ゴシック", monospace;
  font-size: 14px;
  line-height: 1.2;
}

code {
  white-space: pre;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.clear-fix {
  clear: both;
}

.save-btn {
  font-size: 1.5em;
  margin: 4px;
  padding: 4px 8px;
  background-color: #4f4;
  border: 1px solid #8f8;
  border-radius: 6px;

  &:hover {
    background-color: #8f8;
  }
  &:active {
    background-color: #1c1;
  }
}

.delete-btn {
  font-size: 1.5em;
  margin: 4px;
  padding: 4px 8px;
  background-color: #f44;
  border: 1px solid #f88;
  border-radius: 6px;

  &:hover {
    background-color: #f88;
  }
  &:active {
    background-color: #800;
  }
  &:disabled {
    background-color: lightgray;
  }
}
