<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FrontendTemplate</title>
    <link rel="stylesheet" href="assets/default.css">

    <script src="assets/lib/jquery-1.11.3.min.js" type="text/javascript"></script>
    <script src="assets/lib/angular.min.js" type="text/javascript"></script>
  </head>

  <body ng-controller="AppController as ctrl">
    Hello, frontend development.

    <!-- HTML comment will be removed -->

    <% if (buildTarget === 'debug') { %>
      <!-- Use RequireJS in debug build -->
      <script data-main="jsdev/main.js" src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.22/require.js"></script>
    <% } else { %>
      <!-- Avoid using RequireJS in release build -->
      <script src="assets/main.js" type="text/javascript"></script>
    <% } %>
  </body>
</html>
